node_modules
dist
target
coverage
typings
maven
test/e2e/screenshots
.history
.yo-rc.json
serverless
.env*.local
.DS_Store

# Yarn Berry
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/cache
